body,h1,h2,h3,p,td,quote,
small,form,input,ul,li,ol,label
{
	margin:0px;
	padding:0px;
	font-family:Arial,helvetica,sans-serif;
}

body
{
	margin-top:20px;
	color:#51555c;
	font-size:21px;
	background-color;#123456;
}

.clear
{
	clear:both;
}

a, a:visited
{ /*styling the links*/
	color:#007bc4;
	text-decoration:none;
	outline:none;
}

a:hover
{ 
	text-decoration:underline;
}

#rounded
{
	width:800px;
	margin:0px auto; 
}

h1
{
	font-size:28px;
	font-weight:bold;
	font-family: "trebuchet MS",Arial, helvetica, sans-serif;
}

h2
{
	font-weight:normal;
	font-size:20px;

	color:#999999;
}

ul
{
	margin:30px 20px;
}

li
{
	list-style:none;
	display:block;
	float:left;
	width:190px;
}

li a,li a:visited
{
	padding:5px 10px;
	text-align:center;
	background-color:#000033;
	color:white;

	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

li a:hover
{
	background-color:#666666;
	text-decoration:none;
}

#pageContent
{
	margin-top:20px;

	border:1px dashed #cccccc;
	padding:10px;

	-moz-border-radius:5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#loading
{
	visibility:hidden;
}

